<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="BdManageSystemContext" connectionString="Data Source=SKY-PC\SQL2012;Initial Catalog=BdManageSystem;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>